footer{
    display: flex;
    justify-content: space-evenly;
    height: 15vh;
    width: 100%;
    background-color: #1859a9;
    border-top: 3px solid #64ed3d;
}

    footer p{
        display: inline-block;
        margin: 2rem;
        font-size: 21px;
        color: whitesmoke;
    }


    footer p a{
        text-decoration: none;
        color: whitesmoke;
    }