:root {
    --color-bcohumo: #f5f5f5;
    --color-bco: #ffffff;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: #1859a9;
    border-top: 3px solid #64ed3d;
}

    footer p{
        display: inline-block;
        margin: 2rem;
        font-size: 21px;
        color: var(--color-bcohumo);
    }


    footer p a{
        text-decoration: none;
        color: var(--color-bcohumo);
    }