header{
    position: fixed;
    top: 0%;
    height: 10vh;
    width: 100%;
    background-color: #64ed3d;
    margin: 0;
    padding: 0;
    z-index: 1;
    align-content: right;
    border-bottom: 2px solid #0d1d68;
}

nav{
    display: block;
    height: 100%;
    width: fit-content;
    padding-right: 1vw;
    margin: auto;
    margin-right: 0;
}
    nav ul{
        width:auto;
        height: 100%;
        margin-top: 0;
        padding-top: 0;
    }

        nav ul li{
            display: inline-block;
            height: 100%;
            text-align: center;
            font-size: 24px;
            padding-left: 15px;
            padding-right: 15px;
        }

.nav-link{
                display: block;
                height: 100%;
                padding-top: 2.5vh;
                text-decoration: none;
            }

nav ul li:hover{
    background-color: #ff8080;
}
