html {
    scroll-behavior: smooth;
    min-width: 500px;
}

body{
    margin: 0;
    padding: 0;
}

/* ------------------- inicio seccion welcome----------------------------*/
.welcome{
    height: 100vh;
    width: 100%;
    background-color: #0d1d68;
    padding: 0;
    margin: 0;

}

    .welcome h1{
        position: relative;
        top: 50vh;
        margin: auto;
        width: fit-content;
        font-size: 48px;
        color: #c0c0c0;
    }

    .welcome h2{
        position: relative;
        top: 53vh;
        margin: auto;
        width: fit-content;
        font-size: 36px;
        font-style: italic;
        color: #9e1887;
    }
/* ------------------- fin seccion welcome----------------------------*/

/* ------------------- inicio seccion works----------------------------*/
.works{
    height: fit-content;
    width: 100%;
    background-color: #06967e;
    padding: 0;
    margin: 0;
    align-content: center;

}
/* ------------------- Fin seccion works----------------------------*/

/* ------------------- inicio seccion contacto----------------------------*/
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 85vh;
    padding: 0;
    margin: 0;
    background-color: #1859a9;
}

.cabecera h2{
        font-size: 56px;
        color: white;
        text-shadow: 2px 2px 1px #161616;
    }

.cabecera p{
    color: white;
    font-size: 24px;
    font-style: italic;
    margin-top: -5vh;
}

.contacto-links{
    padding: 2rem;
    width: 90% ;
    max-width: 960px;
}

    .contacto-links a{
        display: inline-block;
        text-decoration: none;
        font-size: 28px;
        text-shadow: 2px 2px 1px #3c3c3c;
        color: white;
        padding: 0.1rem 1rem;
        margin: 0.2rem auto;
    }

    .contacto-links a:hover{
        position: relative;
        top: 1.5vh;
    }
/* ------------------- fin seccion contacto----------------------------*/


@media screen and (min-width: 730px){
    body {
        background-color:blue;
    }
}